.confirm {
    padding: .5rem 1rem;
    background-color: #1abc9c;
    border: none;
    transition: background-color .35s;
    color: #ffffff;
    border-radius: 4px;
    align-self: flex-end;
    margin-top: 1rem;
}

.confirm:disabled {
    background: grey;
}

.confirm:hover:disabled {
    background: grey;
}

.confirm:hover {
    background-color: #16a085;
}

.copy {
    padding: .5rem 1rem;
    background-color: #3498db;
    transition: background-color .35s;
    border: none;
    color: #ffffff;
    border-radius: 4px;
}

.copy:hover {
    background-color: #2980b9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
}

.editor {
    width: 100%;
    min-height: 10rem;
}
