$menu-height = 2rem

.fade-enter
    opacity 0.01

.fade-enter.fade-enter-active
    opacity 1
    transition opacity 300ms ease-in

.fade-leave
    opacity 1

.fade-leave.fade-leave-active
    opacity 0.01
    transition opacity 300ms ease-in

// menu 折叠
.menu-enter
    height .01rem
    opacity 0.01

.menu-enter.menu-enter-active
    height $menu-height
    opacity 1
    transition all .35s ease-in

.menu-leave
    height $menu-height
    opacity 1

.menu-leave.menu-leave-active
    height .01rem
    opacity 0.01
    transition all .35s ease-in


.scale-enter
    transform: scale(0.01)

.scale-enter.scale-enter-active
    transform: scale(1)
    transition all 300ms ease-in

.scale-leave
    transform: scale(1)

.scale-leave.scale-leave-active
    transform: scale(0.01)
    transition all 300ms ease-in



// slide 折叠
.slide-enter
    transform: translate3d(0, -1rem, 0);
    opacity 0.01

.slide-enter.slide-enter-active
    transform: translate3d(0, 0, 0);
    opacity 1
    transition all .35s

.slide-leave
    transform: translate3d(0, 0, 0);
    opacity 1

.slide-leave.slide-leave-active
    transform: translate3d(0, -1rem, 0);
    opacity 0.01
    transition all .35s
    
// .fade-enter
//     opacity 0.01

// .fade-enter.fade-enter-active
//     opacity 1
//     transition opacity 300ms ease-in

// .fade-leave
//     opacity 1

// .fade-leave.fade-leave-active
//     opacity 0.01
//     transition opacity 300ms ease-in
