$menu-height = 2rem

.fade-enter
    opacity 0.01
    transform translate3d(0, -1rem, 0)

.fade-enter.fade-enter-active
    opacity 1
    transform translate3d(0, 0, 0)
    transition opacity 300ms ease-in

.fade-exit
    opacity 1
    transform translate3d(0, 0, 0)

.fade-exit.fade-exit-active
    opacity 0.01
    transform translate3d(0, -1rem, 0)
    transition opacity 300ms ease-in

// menu 折叠
.menu-enter
    height .01rem
    opacity 0.01

.menu-enter.menu-enter-active
    height $menu-height
    opacity 1
    transition all .35s ease-in

.menu-exit
    height $menu-height
    opacity 1

.menu-exit.menu-exit-active
    height .01rem
    opacity 0.01
    transition all .35s ease-in


.scale-enter
    transform: scale(0.01)

.scale-enter.scale-enter-active
    transform: scale(1)
    transition all 300ms ease-in

.scale-exit
    transform: scale(1)

.scale-exit.scale-exit-active
    transform: scale(0.01)
    transition all 300ms ease-in



// slide 折叠
.slide-enter
    transform: translate3d(0, -1rem, 0);
    opacity 0.01

.slide-enter.slide-enter-active
    transform: translate3d(0, 0, 0);
    opacity 1
    transition all .35s

.slide-exit
    transform: translate3d(0, 0, 0);
    opacity 1

.slide-exit.slide-exit-active
    transform: translate3d(0, -1rem, 0);
    opacity 0.01
    transition all .35s
    
// .fade-enter
//     opacity 0.01

// .fade-enter.fade-enter-active
//     opacity 1
//     transition opacity 300ms ease-in

// .fade-exit
//     opacity 1

// .fade-exit.fade-exit-active
//     opacity 0.01
//     transition opacity 300ms ease-in

@keyframes fade-in {
  from {
    transform translateY(10px)
    opacity 0
  }
  to {
    transform translateY(0)
    opacity 1
  }
}

.with-fade-in
  animation fade-in .35s
