a
    text-decoration none
    color #000
    &:visited
        color #000

body
    font-size 16px
    font-family Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif
    scroll-behavior smooth
    font-weight 300
    
img
  vertical-align bottom
  
.root
  transition all .35s

.gaussian-blur
  filter blur(40px)
