a
    text-decoration none
    color #000

body
    font-size 16px
    font-family Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif
    scroll-behavior smooth
    font-weight 300

    scroll-behavior smooth

    &::-webkit-scrollbar
        width 0.72rem

    &::-webkit-scrollbar-button
        display none

    &::-webkit-scrollbar-thumb
        width 0.72rem
        // background-color: #e4e4e4;
        background-color #444
        border-radius 1rem

img
  vertical-align bottom

.root
  transition all .35s

.gaussian-blur
  filter blur(40px)
